.navbar {
    display: flex;
    place-content: baseline space-between;
    align-items: center;
    flex-flow: row nowrap;
    padding: .8rem 1.6rem;
    background-color: var(--saturated-sky);
    top: 0;
    position: sticky;
    z-index: 1;
}

.navbar__brand,
.navbar__nav--link {
    font-family: var(--title-font);
    color: var(--anti-flash-white);
    text-shadow: var(--shadow-text);
    transition: text-shadow 0.4s ease;
}

.navbar__brand:hover,
.navbar__nav--link:hover {
    text-shadow: var(--shadow-text-hover);
}

.navbar__brand {
    font-size: 14pt;
    font-weight: 900;
    letter-spacing: 0.24rem;
}

.navbar__nav {
    display: flex;
    place-content: center space-between;
    align-items: center;
    gap: 2rem;
}

.navbar__nav--active,
.navbar__nav--link {
    display: inline-block;
    font-size: 12pt;
    font-weight: 600;
    letter-spacing: .08rem;
}

.navbar__nav--active {
    color: var(--golden-sand)
}

.navbar__nav--login {
    color: var(--prestige-blue);
    background-color: var(--coral);
}

.navbar__nav--login:hover {
    text-shadow: none;
}