.non-list {
    list-style-type: none;
}

.non-link {
    text-decoration: none;
    color: var(--prestige-blue);
}

.vertical-separator {
    height: 3.2rem;
    border-left: .28rem solid var(--peace);
}

.button-round {
    padding: .8rem 2rem;
    border-radius: 2.8rem;
    box-shadow: var(--shadow-component);
    transition: all .24s ease;
}

.button-round:hover {
    transform: translate(0, -6px);
}