.who {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.who__container {
    max-width: 100ch;
    margin: auto;
}

.who__text {
    font-family: var(--body-font);
    font-size: 13pt;
    line-height: 2.8rem;
}